<div class="row">
    <% @photos.each do |photo| %>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <%= image_tag photo.thumbnailUrl %>
            <!-- <%= photo.imageUrl %> -->
            <div class="caption">
                <h5>By: <%= photo.imageOwner %></h5>
                <h6>Date: <%= photo.dateAdded %></h6>
                <h6><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= photo.commentCount %></h6>
            </div>
        </div>
    </div>

    <% end %>

</div>
